@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h3 class="display-4">Bienvenido</h3>
    <link rel="stylesheet" href="~/css/style.css">

    <div class="header_banner row d-flex justify-content-center align-items-center">
        <div class="col-12 col-lg-9 img_banners">
            <div id="gobiernoHeader" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402644.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402644.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402645.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402645.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402646.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402646.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402647.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402647.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402648.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402648.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402649.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402649.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402651.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402651.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402650.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402650.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402701.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402701.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402702.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402702.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402704.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402704.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402705.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402705.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402700.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402700.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402707.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402707.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402706.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402706.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402703.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402703.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402708.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402708.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402713.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402713.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402709.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402709.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402712.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402712.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402710.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402710.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402711.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402711.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402714.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402714.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402715.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402715.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402716.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402716.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402717.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402717.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402718.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402718.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402719.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402719.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402720.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402720.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402721.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402721.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402723.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402723.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402722.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402722.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402724.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402724.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402725.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402725.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402726.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402726.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402727.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402727.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402728.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402728.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402729.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402729.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402730.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402730.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402731.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402731.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.el19digital.com/files/banners/402732.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402732.jpg">
                    </div>
                    <div class="carousel-item active">
                        <img src="https://www.el19digital.com/files/banners/402735.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402735.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402734.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402734.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402736.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402736.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402737.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402737.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402738.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402738.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402739.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402739.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402733.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402733.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402740.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402740.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402743.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402743.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402744.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402744.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402741.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402741.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402745.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402745.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402746.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402746.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402747.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402747.jpg">
                    </div>
                    <div class="carousel-item  ">
                        <img src="https://www.el19digital.com/files/banners/402742.jpg" alt="Banners 45/19" class="d-block w-100" data-src="/files/banners/402742.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>Esta es la interfaz de control de pacientes del Centro Oftalmologico Milagro Sandino.</p>
</div>

